SMARTMIS/Web References/SmartWebReference/smartMISWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FillDropDownList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tableName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="coloumnName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="whereClause" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillDropDownListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillDropDownListResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FillDropDownListSoapIn">
    <wsdl:part name="parameters" element="tns:FillDropDownList" />
  </wsdl:message>
  <wsdl:message name="FillDropDownListSoapOut">
    <wsdl:part name="parameters" element="tns:FillDropDownListResponse" />
  </wsdl:message>
  <wsdl:portType name="smartMISWebServiceSoap">
    <wsdl:operation name="FillDropDownList">
      <wsdl:input message="tns:FillDropDownListSoapIn" />
      <wsdl:output message="tns:FillDropDownListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="smartMISWebServiceSoap" type="tns:smartMISWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FillDropDownList">
      <soap:operation soapAction="http://tempuri.org/FillDropDownList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="smartMISWebServiceSoap12" type="tns:smartMISWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FillDropDownList">
      <soap12:operation soapAction="http://tempuri.org/FillDropDownList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="smartMISWebService">
    <wsdl:port name="smartMISWebServiceSoap" binding="tns:smartMISWebServiceSoap">
      <soap:address location="http://192.168.1.133/SmartMIS/smartMISWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="smartMISWebServiceSoap12" binding="tns:smartMISWebServiceSoap12">
      <soap12:address location="http://192.168.1.133/SmartMIS/smartMISWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>